<div class="bg-gray-800 w-full py-5 flex justify-between items-center px-4">
   
    <div class="header w-1/3 flex justify-center sm:w-2/4 pl-4 sm:pl-0">
        <h2 class="text-white text-2xl">Port<span class="text-[rgb(0,238,255)]">Folio</span></h2>
    </div>
  
    
    <input type="checkbox" id="menu-toggle" class="hidden peer">
    <label for="menu-toggle" class="sm:hidden text-white cursor-pointer">
      <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </label>
  

    <div class="hidden peer-checked:block sm:block w-full  sm:w-1/2 absolute sm:relative top-16 sm:top-0 left-0 sm:left-auto bg-gray-800 sm:bg-transparent p-5 sm:p-0">
      <ul class="flex flex-col text-2rem sm:flex-row sm:justify-evenly text-white cursor-pointer sm:gap-0 gap-4">
        <li class="animate-slideInRight transition duration-300 ease-in-out transform hover:scale-110 hover:text-[rgb(0,238,255)]">
          <a href="#home">Home</a>
        </li>
        <li class="animate-slideInRight transition duration-300 ease-in-out transform hover:scale-110 hover:text-[rgb(0,238,255)]">
          <a href="#about">About</a>
        </li>
        <li class="animate-slideInRight transition duration-300 ease-in-out transform hover:scale-110 hover:text-[rgb(0,238,255)]">
          <a href="#project">Project</a>
        </li>
        <li class="animate-slideInRight transition duration-300 ease-in-out transform hover:scale-110 hover:text-[rgb(0,238,255)]">
          <a href="#connect">Connect</a>
        </li>
      </ul>
    </div>
  </div>
  