<section class="text-center py-12 bg-gray-700 text-white" id="project">
    <h2 class="text-4xl font-extrabold">My <span class="text-cyan-400">Projects</span></h2>
  
    <div class="grid gap-6 md:px-4 py-12 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
      <div *ngFor="let project of projects" class="group perspective w-80 h-52 mx-auto" data-aos="zoom-in" data-aos-duration="1600">
        <div class="relative w-full h-full preserve-3d duration-700 transform group-hover:rotate-y-180">
          <div class="absolute w-full h-full backface-hidden rotate-y-0">
            <img [src]="project.image" [alt]="project.title" class="h-full w-full object-cover rounded-lg">
            <h3 class="absolute bottom-2 left-0 right-0 text-center text-lg font-bold bg-gray-900/75 text-white p-2 rounded-b-lg">
              {{ project.title }}
            </h3>
          </div>
          <div class="absolute w-full h-full bg-gray-800 text-white p-6 flex flex-col items-center justify-center rounded-lg rotate-y-180 backface-hidden">
            <h3 class="text-xl font-bold">{{ project.title }}</h3>
            <p class="text-gray-400 text-sm text-center">{{ project.description }}</p>
            <div class="flex gap-4 mt-4">
              <a *ngIf="project.liveDemo" target="_blank" [href]="project.liveDemo" class="bg-cyan-400 text-gray-900 px-4 py-2 rounded-lg font-semibold hover:bg-cyan-300 transition">Live Demo</a>
              <a target="_blank" [href]="project.github" class="bg-gray-700 text-white px-4 py-2 rounded-lg font-semibold hover:bg-gray-600 transition">GitHub</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  