/* You can add global styles to this file, and also import other style files */

@import "tailwindcss/preflight";
@tailwind utilities;

@import "tailwindcss";

/* Global reset to eliminate any unwanted gaps */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}